* {
	margin: 0;
	padding: 0;
	list-style: none;
}
body{
	background: url('../img/背景.jpg'); no-repeat center center;
	background-size: cover;
}
.header {
	width: 100%;
	height: 400px;
	background: url('../img/产品中心头图.jpg') no-repeat center center;
	background-size: cover;
	position: relative;
}

a:link {
	color: #ffffff;
}

a:visited {
	color: #ffffff;
}

.navCon li ul li:hover,
.navCon a:hover {
	background: linear-gradient(to top, rgba(176, 176, 176, .5), rgba(144, 144, 144, .3));
}

a {
	font-size: 18px;
	text-decoration: none;
	color: #fff;
}


.nav1 {
	top: 0;
	height: 60px;
	width: 100%;
	position: fixed;
	transition: background-color 0.4s;
}

.nav1.navStyle {
	background-color: rgba(22, 22, 22, 0.6);
	backdrop-filter: blur(10px);
	z-index: 999;
}

.navCon {
	position: absolute;
	top: 0;
	right: 0;
	width: 910px;
	height: 60px;
	display: inline-block;
}

.navCon li {
	float: left;
	width: 150px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 11px;
	position: relative;
}

.navCon li a {
	display: block;
}



.logo {
	display: inline-block;
	height: 32px;
	background: url('../img/logo3.png')no-repeat center center;
	background-size: cover;
	width: 330px;
	margin-left: 110px;
	margin-top: 15px;
}

.nav2 {
	height: 60px;
	width: 100%;
	background-color: rgba(145, 145, 145, 0.5);
	position: absolute;
	bottom: 0;
}

.navCon2 {
	width: 950px;
	height: 80px;
	margin: 0 auto;
}

.navCon2 li {
	float: left;
	width: 180px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 11px;
	position: relative;
}

.navCon2 li a {
	display: block;
	transition: transform 0.6s ease, font-weight 0.6s ease, background-color 0.6s ease;
}

.navCon2 li ul {
	display: none;
}

.navCon2 li:hover ul {
	display: block;
}

.navCon2 li ul li {
	background-color: rgba(22, 22, 22, 0.3);
	backdrop-filter: blur(10px);
}

.navCon2 a:hover {
	background: white;
	color: #050f96;
	transform: translateY(-10px);
	font-weight: bold;
}

.overtitle {
	width: 100%;
	height: 340px;
	background-color: rgba(22, 22, 22, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	font-size: 21px;
	flex-direction: column;
	/* 让子元素垂直排列 */

}

window.onload = function() {
				var suolueTuList = document.querySelectorAll('.suoluetu');
				for (var i = 0; i < suolueTuList.length; i++) {
					suolueTuList[i].addEventListener('click', function() {
						var mainImage = document.getElementById('main-image');
						mainImage.src = this.src;
			 	});
				}
			};