@font-face {
  font-family: "iconfont"; /* Project id 4395933 */
  src: url('iconfont.woff2?t=1704178166324') format('woff2'),
       url('iconfont.woff?t=1704178166324') format('woff'),
       url('iconfont.ttf?t=1704178166324') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before {
  content: "\e63f";
}

.icon-yonghu:before {
  content: "\e6b3";
}

.icon-kefu:before {
  content: "\e625";
}

.icon-coupon:before {
  content: "\e617";
}

